@media screen and (min-width: 600px) {
    .hamburger {
        display: none;
    }
    nav {
        display: flex !important;
        flex-direction: row;
        justify-content: space-around;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 20px;
        max-width: 1200px;
        margin: auto;
    }
    header img {
        width: 100px;
        height: 100px;
    }

    header span {
        font-size: 2.5rem; /* Larger font size for medium screens */
    }

    .overlay {
        font-size: 2rem;
    }

    .sidebar, .content {
        grid-column: span 1;
    }
}

@media screen and (min-width: 1024px) {
    header span {
        font-size: 3.5rem; /* Even larger font size for large screens */
    }

    .sidebar {
        height: auto;
        align-self: start;
    }

    .content {
        align-self: start;
    }
}
